<!DOCTYPE html>
{% include 'partials/flash_messages.html' %}
{% include 'partials/svg_sprites.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/dist/output.css') }}" rel="stylesheet">
    {% block style %}
    {% endblock %}
</head>
<body {% block bodystyle %}{% endblock %}>
<div class="fixed flex sm:flex-col-reverse lg:flex-row sm:space-x-0 lg:space-x-5 top-5 right-5 z-50  sm:text-7xl lg:text-lg">
    {% block nav_buttons %}{% endblock %}
    <a href="{{ url_for('main.logout') }}"
       class="global-nav-button">Logout</a>
</div>
<header id="header"
     class="min-w-full min-h-[25vh] bg-gradient-to-b from-darkerCharcoal to-charcoal border-2 border-steel shadow-2xl">
    <div>
        {% block search_form %}
        {% endblock %}
    </div>
    <div class="flex flex-row sm:text-5xl lg:text-2xl">
        <div class="nav-button-container">
            <div>
                <h1 class="nav-button-label">{% block add %}{% endblock %}</h1>
                <hr/>
            </div>

            <button onclick="{% block add_button_function %}{% endblock %}"
                    class="nav-button">
                <svg class="w-[4vh] h-[4vh]">
                    <use href="#add-button"></use>
                </svg>
            </button>
        </div>
        <div class="nav-button-container">
            <div>
                <h1 class="nav-button-label">See all</h1>
                <hr/>
            </div>

            <a href="{% block see_all_url %}{% endblock %}"
               class="nav-button">
                <svg class="w-[4vh] h-[4vh]">
                    <use href="#go-back"></use>
                </svg>
            </a>
        </div>
    </div>
</header>
<div id="body" class="max-h-[75vh] overflow-y-scroll" style="-ms-overflow-style: none; scrollbar-width: none;">
    {% block body_content %}
    {% endblock %}
</div>
{% block modals %}{% endblock %}
{% block script %}
{% endblock %}
</body>


</html>