{% extends "partials/base.html" %}
{% block title %}Garage{% endblock %}
{% block bodystyle %}class="bg-charcoal"{% endblock %}
{% block style %}
{% endblock %}
{% block search_form %}
    <form action="{{ url_for('main.garage') }}" method="POST" class="sm:text-5xl">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input placeholder="Search..." name="vehicle_model"
               class="lg:text-xl ml-5 mt-5 p-2 rounded-lg w-[25vh] sm:h-[6vh] lg:h-[4vh]">
        <input type="submit" placeholder="submit"
               class="sm:h-[6vh] lg:h-[4vh] lg:text-xl ml-2 bg-goldenYellow sm:p-4 lg:p-1 rounded-lg hover:bg-opacity-70 duration-200">
    </form>{% endblock %}
{% block add %}Add vehicle{% endblock %}
{% block add_button_function %}handleModal(1){% endblock %}
{% block see_all_url %}{{ url_for('main.garage') }}{% endblock %}
{% block body_content %}
    <div class="grid sm:grid-col-1 lg:grid-cols-4 mx-auto">
        {% for vehicle in vehicles %}
            <div id="{{ loop.index }}"
                 class="relative flex flex-col sm:w-[35vh] lg:w-[30vh] h-[50vh] bg-steel mx-auto my-10 border-2 border-lightSteel rounded-lg shadow-2xl">
                <button onclick="handleDelete('{{ vehicle.model }}', {{ vehicle.id }}, {{ loop.index }})"
                        class="flex items-center justify-center absolute top-3 right-3 w-[4vh] h-[4vh] p-2 bg-red-500 hover:bg-red-300 duration-500 rounded-full">
                    <svg class="w-[5vw] h-[5vh]">
                        <use href="#delete"></use>
                    </svg>
                </button>
                <div class="h-[10vh] w-full flex items-center justify-center">
                    <h1 class="font-bold font-montserrat text-electricBlue sm:text-6xl lg:text-4xl">{{ vehicle.model }}</h1>
                </div>

                <div class="h-[15vh] w-full overflow-hidden">
                    <img class="object-contain w-full mx-auto"
                         src="{{ url_for("main.get_image", picture_id=vehicle.picture) }}" alt="vehicle image"/>
                </div>

                <div class="h-[25vh] w-full text-slateWhite p-4">
                    <p class="text-base font-medium font-roboto sm:text-4xl lg:text-xl"> Make: {{ vehicle.make }} |
                        Year: {{ vehicle.year }}</p>
                    <p class="text-sm font-normal font-roboto text-lightSteel sm:text-2xl lg:text-xl">
                        mileage: {{ vehicle.mileage }}</p>
                    <hr class="mt-2">
                    <div class="flex flex-row my-5 space-x-4">
                        <div class="flex flex-col space-y-5 text-center text-charcoal">
                            <button class="flex justify-center items-center w-[10vh] sm:h-[4vh] lg:h-[3vh] sm:text-3xl lg:text-xl bg-goldenYellow rounded-2xl hover:bg-yellow-600 duration-200 p-2"
                                    onclick=handleEditVehicle({{ vehicle.id }})><p>Edit</p>
                            </button>
                            <a href="{{ url_for('main.service_viewer', vehicle_model=vehicle.model) }}"
                               class="flex justify-center items-center w-[10vh] sm:h-[4vh] lg:h-[3vh]  sm:text-3xl lg:text-xl bg-goldenYellow rounded-2xl hover:bg-yellow-600 duration-200 p-2">
                                <p>Services</p>
                            </a>

                        </div>
                        <div>
                            <h1 class="font-medium font-roboto text-base sm:text-3xl lg:text-sm">Last recorder
                                service:</h1>
                            <hr class="bg-lightSteel">
                            {% if vehicle.services %}
                                <p class="text-sm font-normal font-roboto text-lightSteel sm:text-3xl lg:text-sm"> {{ vehicle.services[-1].service }} </p>
                            {% else %}
                                <p class="text-sm font-normal font-roboto text-lightSteel sm:text-3xl lg:text-sm">
                                    No recorded
                                    services </p>
                            {% endif %}
                        </div>

                    </div>
                </div>


            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block modals %}
    <!-- ADD VEHICLE FORM MODAL --!>
    <div class="modal-base"
         id="add-vehicle-modal"
         style="display:none;">

        <div class="modal-content">
            <button onclick="handleModal(0)"
                    class="close-modal-button">
                <svg width="20" height="20">
                    <use href="#close"></use>
                </svg>
            </button>


            <svg class="logo-svg">
                <use href="#logo"></use>
            </svg>


            <form enctype="multipart/form-data" class="form" method="post"
                  action="{{ url_for('main.garage') }}">
                {{ add_vehicle_form.hidden_tag() }}
                <div class="mt-5">
                    {{ add_vehicle_form.year }}
                    {% if add_vehicle_form.year.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in add_vehicle_form.year.errors %}


                                <span class="block sm:inline">{{ error }}</span>


                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    {{ add_vehicle_form.make }}
                    {% if add_vehicle_form.make.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in add_vehicle_form.make.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    {{ add_vehicle_form.model }}
                    {% if add_vehicle_form.model.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in add_vehicle_form.model.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <br/>
                <div class="text-center">
                    <sm>↓ Optional ↓</sm>
                </div>
                <br/>

                <div class="">
                    {{ add_vehicle_form.mileage }}
                    {% if add_vehicle_form.mileage.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in add_vehicle_form.mileage.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="text-center mt-4">
                    <sm>Upload Picture</sm>
                </div>

                <div class="">
                    {{ add_vehicle_form.picture }}
                    {% if add_vehicle_form.picture.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in add_vehicle_form.picture.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="submit-button">
                    {{ add_vehicle_form.submit() }}
                </div>

            </form>
        </div>
    </div>
    <!-- EDIT VEHICLE FORM MODAL --!>
    <div class="modal-base"
         id="edit-vehicle-modal"
         style="display:none;">

        <div class="modal-content">
            <button onclick="handleModal(0)"
                    class="close-modal-button">
                <svg width="20" height="20">
                    <use href="#close"></use>
                </svg>
            </button>


            <svg class="logo-svg">
                <use href="#logo"></use>
            </svg>


            <form enctype="multipart/form-data" class="form" method="post"
                  action="{{ url_for('main.garage') }}">
                {{ edit_vehicle_form.hidden_tag() }}
                <input type="hidden" id="id" name="vehicle_id">
                <div class="mt-5">
                    {{ edit_vehicle_form.year }}
                    {% if edit_vehicle_form.year.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in edit_vehicle_form.year.errors %}


                                <span class="block sm:inline">{{ error }}</span>


                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    {{ edit_vehicle_form.make }}
                    {% if edit_vehicle_form.make.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in edit_vehicle_form.make.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="">
                    {{ edit_vehicle_form.model }}
                    {% if edit_vehicle_form.model.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in edit_vehicle_form.model.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <br/>
                <div class="text-center">
                    <sm>↓ Optional ↓</sm>
                </div>
                <br/>

                <div class="">
                    {{ edit_vehicle_form.mileage }}
                    {% if edit_vehicle_form.mileage.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in edit_vehicle_form.mileage.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="text-center mt-4">
                    <sm>Change Picture</sm>
                </div>

                <div class="">
                    {{ edit_vehicle_form.picture }}
                    {% if edit_vehicle_form.picture.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in edit_vehicle_form.picture.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="submit-button">
                    {{ edit_vehicle_form.submit() }}
                </div>

            </form>
        </div>
    </div>
    <script>
        // Set global CSRF token that modules can access for POST requests
        window.CSRF_TOKEN = '{{ csrf_token() }}';
    </script>
    <script src="{{ url_for('static', filename='javascript/components.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/dataUtilities.js') }}"></script>
{% endblock %}
{% block script %}
    <script>
        const editVehicleModal = document.getElementById('edit-vehicle-modal');
        const registerVehicleModal = document.getElementById('add-vehicle-modal');
        const vehicleCols = ['make', 'model', 'year', 'mileage', 'id'];

        function handleModal(state) {
            toggleModal(state, registerVehicleModal, editVehicleModal);
        }

        function handleEditVehicle(dbId) {
            populateData('vehicle', dbId, vehicleCols);
            handleModal(2);
        }

        async function handleDelete(model, dbId, elId) {
            const confirmation = window.confirm(`are you sure you want to delete ${model}`);
            if (confirmation) {
                try {
                    await deleteData('vehicle', dbId);
                    const element = document.getElementById(elId);
                    element.remove();
                    addFlashMessage(`Successfully deleted ${model}`)
                } catch (error) {
                    console.error(`Failure to delete: ${error}`)
                }
            } else {
                return null;
            }

        }

        document.addEventListener('DOMContentLoaded', function () {
            const alertElements = document.querySelectorAll('[role="alert"]');
            alertElements.forEach(alert => {
                alert.classList.add("animate-flash");
            });
            {% if modal_state %}
                handleModal({{ modal_state }})
            {% endif %}

            function fadeOnScroll() {
                const elements = document.querySelectorAll('.scroll-fade');
                const midWindowHeight = window.innerHeight / 2;
                elements.forEach(el => {
                    const rect = el.getBoundingClientRect();
                    let opacityScale = Math.abs((rect.top + rect.height / 2) - midWindowHeight);
                    let opacity = 1 - (opacityScale * .002);
                    el.style.opacity = opacity;


                });

            }

            document.addEventListener('scroll', fadeOnScroll);
        });


    </script>
{% endblock %}