<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="{{ url_for('static', filename='css/dist/output.css') }}" rel="stylesheet">
    <style>
        .visible {
            opacity: 1;
        }
    </style>
</head>
<body>
{% include 'partials/svg_sprites.html' %}
<picture class="fixed top-0 left-0 w-full h-full z-[-1]">
    <source media="(max-width: 767px)" srcset="../static/wrenches-iphone.jpg">
    <source media="(min-width: 768px)" srcset="../static/wrenches1.jpg">
    <img alt="Wrenches" class="w-full h-full object-cover">
</picture>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li role="alert" class="flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<div class="h-screen flex justify-center items-center">
    <div id="scroll-up" class="fixed top-[20vh] text-center" style="opacity:0;">
        <svg class="mx-auto animate-bounce" width="25" height="25" fill="white">
            <use href="#chevron"></use>
        </svg>


    </div>
    <div id="scroll-down" class="fixed bottom-[20vh] text-center">
        <p class="text-white text-2xl">scroll to see more</p>
        <br/>
        <div class="rotate-180">
            <svg class="mx-auto animate-bounce" width="25" height="25" fill="white">
                <use href="#chevron"></use>
            </svg>
        </div>

    </div>
</div>

<div class="flex flex-col justify-center items-center space-y-96">
    <div id="first" class="scroll-fade visible">
        <h1 class="heading-text">Service Tracker</h1>
        <p class="secondary-text mb-7">Log all services performed on your
            vehicles</p>

        <button onclick="handleModal(1)"
                class="large-button lg:w-[10vw] sm:w-[30vw]">
            Login
        </button>

        <button onclick="handleModal(2)"
                class="mx-2 large-button lg:w-[10vw] sm:w-[33vw]">
            Register
        </button>

    </div>
    <div class="scroll-fade w-[50vw]">
        <h1 class="heading-text">First add a vehicle.</h1>
        <p class="secondary-text">Add a vehicle to your garage, specify
            the year, make, and
            model. Optionally add a picture of the vehicle!</p>

    </div>
    <div class="scroll-fade w-[50vw]">
        <h1 class="heading-text">Next add your completed service.</h1>
        <p class="secondary-text">Go to your garage and select the
            vehicle you have completed
            service on. Next click the add service button.</p>
    </div>
    <div id="last" class="scroll-fade w-[50vw]">
        <h1 class="heading-text">Finally, complete the service
            form.</h1>
        <p class="secondary-text">Add the date, the name of the service
            completed, a description
            or story of the service, and optionally a picture of the service being completed. NOTE, if the date
            is left blank it will automatically store today's date.</p>
    </div>
    <div class="scroll-fade w-[50vw]">
        <h1 class="heading-text">What are you waiting for? Sign up
            today!</h1>
        <p class="secondary-text">Sign up so that we can keep track of
            your vehicle
            service history for you! Access your service history from anywhere with Service Tracker.</p>
    </div>
    <div id="dummy" class="h-[50vh]">

    </div>
</div>

<!-- LOGIN FORM MODAL !-->
<div class="modal-base"
     id="login-modal"
     style="display: none;">

    <!-- Modal Content -->
    <div class="modal-content">
        <button onclick="handleModal(0)"
                class="close-modal-button">
            <svg width="20" height="20">
                <use href="#close"></use>
            </svg>
        </button>
        <div class="mt-3 text-center">
            <div class="logo-svg">
                <svg class="logo-svg">
                    <use href="#logo"/>
                </svg>
            </div>
            <h3 class="medium-text">Login to Your Account</h3>

            <form class="form text-slateWhite"
                  method="post"
                  action="{{ url_for('main.index') }}">
                {{ login_form.hidden_tag() }}
                <div class="mt-5">
                    {{ login_form.email_username }}
                    {% if login_form.email_username.errors %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in login_form.email_username.errors %}


                                <span class="block sm:inline">{{ error }}</span>


                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div>
                    {{ login_form.password }}
                    {% if login_form.password.errors %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in login_form.password.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="lg:w-[5vw] sm:w-[25vw] rounded-lg bg-goldenYellow text-darkerCharcoal font-medium font-roboto lg:p-1 sm:p-5 mt-20 hover:bg-opacity-70 duration-700">
                    {{ login_form.submit() }}
                </div>

            </form>
            <button onclick="handleModal(2)"
                    class="w-[10vw] btn-link">
                Register
            </button>

            <p class="small-text">We will never share your information
                with anyone.</p>

        </div>

    </div>


</div>

<!-- REGISTER FORM MODAL !-->
<div class="modal-base"
     id="register-modal"
     style="display: none;">

    <!-- Modal Content -->
    <div class="modal-content">
        <button onclick="handleModal(0)"
                class="close-modal-button">
            <svg width="20" height="20">
                <use href="#close"></use>
            </svg>
        </button>
        <div class="mt-3 text-center">
            <div class="logo-svg">
                <svg class="logo-svg">
                    <use href="#logo"/>
                </svg>
            </div>
            <h3 class="medium-text">Register an Account</h3>
            <!-- Login Form -->
            <form class="form" method="post"
                  action="{{ url_for('main.index') }}">
                {{ registration_form.hidden_tag() }}
                <div class="rounded-xl">
                    {{ registration_form.email }}
                    {% if registration_form.email.errors %}
                        {% for error in registration_form.email.errors %}
                            <div class="form-errors"
                                 role="alert">
                                <strong class="font-bold">Oops!</strong>
                                <span class="block sm:inline">{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="rounded-md">
                    {{ registration_form.username }}
                    {% if registration_form.username.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in registration_form.username.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="rounded-md">
                    {{ registration_form.password }}
                    {% if registration_form.password.errors %}
                        <div class="form-errors"
                             role="alert">
                            <strong class="font-bold">Oops!</strong>
                            {% for error in registration_form.password.errors %}


                                <span class="block sm:inline">{{ error }}</span>

                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="rounded-md">
                    {{ registration_form.confirm_password }}
                </div>
                <div class="lg:w-[5vw] sm:w-[25vw] rounded-lg bg-goldenYellow text-darkerCharcoal font-medium font-roboto lg:p-1 sm:p-5 hover:bg-opacity-70 duration-700">
                    {{ registration_form.submit() }}
                </div>

            </form>
            <button onclick="handleModal(1)"
                    class="w-[20vw] btn-link">
                Log In
            </button>

            <p class="small-text">We will never share your information
                with anyone.</p>

        </div>

    </div>


</div>
<script src="{{ url_for('static', filename='javascript/modal.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/scroll.js') }}"></script>
<script>
    const loginModal = document.getElementById('login-modal');
    const registerModal = document.getElementById('register-modal');

    function handleModal(state) {
        toggleModal(state, loginModal, registerModal);
    }

    document.addEventListener('DOMContentLoaded', function () {
        // define all constants used in functions

        const midWindowHeight = window.innerHeight / 2;
        const alertElements = document.querySelectorAll('[role="alert"]');
        const first = document.getElementById('first');
        const last = document.getElementById('last');
        const scrollDown = document.getElementById('scroll-down');
        const scrollUp = document.getElementById('scroll-up');


        // initialize vars
        // canExecute is flag to prevent auto scroll from happening multiple times in scroll event
        // timeout handles when canExecute is reset
        // scrollDirection is used to determine which sibling to scroll too
        // touchStartY grabs the first touch registered on screen and stores its y position
        // touchEndY grabs the last registered touch and stores its y position
        // used to calculate swipe direction just like scroll direction

        let canExecute = true;
        let timeout;
        let scrollDirection = 'down';
        let touchStartY = 0;
        let touchEndY = 0;
        // apply animate-flash to all elements with alert roles (flash messages)
        alertElements.forEach(alert => {
            alert.classList.add("animate-flash");
        });
        // check if modal state is passed to frontend as param and toggle modal accordingly
        {% if modal_state %}
            toggleModal({{ modal_state }}, loginModal, registerModal);
        {% endif %}

        // auto position first element
        // by setting scroll events to passive IE no manual scrolling the DOC does not load as expected
        // this fixes that
        centerElement(first);
        // set opacities
        setOpacities(first, 0);

        // event listeners to trigger auto scroll logic
        // event listeners use preventDefault method and passive: false config to disable manual scrolling or swiping

        document.addEventListener('touchstart', (event) => {
            touchStartY = event.touches[0].clientY;
        }, {passive: false});

        document.addEventListener('touchmove', (event) => {
            event.preventDefault(); // Prevent default scrolling
        }, {passive: false});

        document.addEventListener('touchend', (event) => {
            touchEndY = event.changedTouches[0].clientY; // grabs the current position of the first touch registered when touch ends
            // if the start y is greater than the end y finger swiped down
            // determines direction Y value at top = 0 Y at bottom is greatest
            scrollDirection = touchStartY > touchEndY ? 'down' : 'up';
            handleScroll(midWindowHeight, scrollDirection, timeout, canExecute);
            toggleArrowVis(midWindowHeight, scrollUp, scrollDown, last); // toggle ui arrows

        }, {passive: false});

        document.addEventListener('wheel', (event) => {
            event.preventDefault();
            scrollDirection = event.deltaY > 0 ? 'down' : 'up'; // if change in y > 0 scroll was down
            handleScroll(midWindowHeight, scrollDirection, timeout, canExecute);
            toggleArrowVis(midWindowHeight, scrollUp, scrollDown, last); // toggle ui arrows

        }, {passive: false});

    });
</script>
</body>
</html>